<div class="back">
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-black">About Us</p>
            <p class="text-black">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime sint modi, esse, architecto, libero deleniti aliquid tempora sit distinctio cumque minima! Quisquam quas corrupti illum itaque molestias saepe asperiores labore.</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="fw-bold">App Name:</span> Angular Project
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Version:</span> 1. 0. 0
                </li>
                <li class="list-group-item">
                    <span class="fw-bold">Author:</span> Ziming Wang
                </li>
            </ul>
        </div>
    </div>
</div>
</div>