<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-2">Angular Project</h5>
            <h5 class="display-6">Ziming Wang</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptatum accusamus ullam debitis odio sit nulla tempore, nam, dolorem laborum asperiores iste! Soluta, quae autem optio eius labore voluptatem eum cupiditate quam. Error optio, quae vero deleniti aperiam incidunt id atque earum amet. Voluptates odio quisquam autem nisi veniam eos.</p>
        </div>
    </div>
</div>
